@tailwind base;
@tailwind components;
@tailwind utilities;

.str-chat__channel {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  background: transparent !important;
  height: 100% !important;
  width: 100% !important;
}

.str-chat__container {
  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  overflow: hidden;
  background: transparent !important;
}

.str-chat__list {
  background-color: transparent !important;
  padding: 12px;
}

.str-chat__list-notifications {
  display: none;
}

.str-chat__message-input {
  border-top: 1px solid var(--border-color, #ddd);
}